<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Skeleton-XN</title>
  </head>

  <body>
    <div id="root"></div>
    <!-- <script src="app.js"></script> -->

    <!-- <app-root></app-root>
    <script src="ajs/runtime-es2015.js" type="module"></script>
    <script src="ajs/polyfills-es2015.js" type="module"></script>
    <script src="ajs/runtime-es5.js" nomodule>
    </script><script src="ajs/polyfills-es5.js" nomodule></script>
    <script src="ajs/styles-es2015.js" type="module"></script>
    <script src="ajs/styles-es5.js" nomodule></script>
    <script src="ajs/scripts.js"></script>
    <script src="ajs/vendor-es2015.js" type="module"></script>
    <script src="ajs/main-es2015.js" type="module"></script>
    <script src="ajs/vendor-es5.js" nomodule></script>
    <script src="ajs/main-es5.js" nomodule></script> -->

    <div id="vue-app"></div>

  </body>
</html>
